# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
# Flutter/Dart/Pub related
.dart_tool/
.packages
build/
pubspec.lock

# Android
android/.gradle/
android/app/build/
android/local.properties
*.keystore
*.jks

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
macos/Pods/

# Web
web/.dart_tool/

# VS Code & IntelliJ
.vscode/
.idea/
*.iml

# OS Files
.DS_Store
Thumbs.db
